HOST=0.0.0.0
PORT=1337
APP_KEYS=change-me
API_TOKEN_SALT=change-me
ADMIN_JWT_SECRET=change-me
TRANSFER_TOKEN_SALT=8Duhqb4wRVqcFAqoyHA1dg==

DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=4SUdlagQnDBv3BtnzpS5dA==
CLOUDINARY_NAME=change-me
CLOUDINARY_KEY=change-me
CLOUDINARY_SECRET=change-me
